# This config file contains the crop configuration for an image.
# The first lines, starting with a comment char '#' will be ignored and can be used for comments
# The following lines need to stay in the correct order
# All lines can include comments after the inputs. These comments have to start with the comment char '#'
#
# The following lines are the config lines:
image.png                 # inputImageFile
32                        # width
32                        # height
imgs_line_1 imgs_line_2   # outputNamesPerLine (delimiter is a space character ' ')
crop                      # outputDirName
y                         # continuousIndices (y|n)
0                         # xOffset
0                         # yOffset
n                         # xOffsetStartsBeforeImage (y|n)
n                         # yOffsetStartsBeforeImage (y|n)
-1                        # numImages (-1 for 'count them yourself!')"""