############################################################################################################
#                                                                                                          #
# This config file contains the crop configuration for an image.                                           #
# The first lines, starting with a comment char '#' will be ignored and can be used for comments           #
# The following lines need to stay in the correct order                                                    #
# All lines can include comments after the inputs. These comments have to start with the comment char '#'  #
#                                                                                                          #
##### Crop images configuration ############################################################################
#                                                                                                          #
#    # 1. crop configuration file                                                                          #
#                                                                                                          #
### Resize images configuration ############################################################################
#                                                                                                          #
#    # 2. tiles directory                                                                                  #
#    # 3. scale factor                                                                                     #
#                                                                                                          #
### Combine images configuration ###########################################################################
#                                                                                                          #
#    # 4. images per line                                                                                  #
#    # 5. margin between images (in pixels)                                                                #
#    # 6. combined image name                                                                              #
#                                                                                                          #
############################################################################################################


rpg_nature_tileset.config   # 1. crop configuration file
tiles                       # 2. tiles directory
4                           # 3. scale factor
21                          # 4. images per line
2                           # 5. margin between images (in pixels)
tileset.png                 # 6. combined image name